/* #geion theme */

/* variables */
:root {
    --dark: #0b1842;
    --background-color: #ffffff;
    --foreground-color: #b651ff;
    --button-color: #35eff4;
    --text-color: #004bc4;
}
/* #region wrapper */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
/* #region nav */

/*nav container flexbox*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    border-bottom: 1px solid var(--background-color);
    height: 50px;
    width: 100%;
}

#highscores{
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 1px 2px 5px var(--text-color);
    margin:.5rem;
}

#title{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px black;
    
}

#timer-container {
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 1px 2px 5px var(--text-color);
    margin:.5rem;
}
/* #endregion */
/* #region game */

/*game container flexbox*/
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground-color);
    margin-top: 5%;
    height: 60%;
    width:60%;
    border-radius: 5px;
    box-shadow: 1px 2px 5px var(--dark);
}

#question-title {
    width: 100%;
    text-align: left;
}

#question-content {
    height:70%;
}
/* #endregion */